body {
	background-color: #031A20;
	max-height: 400px;
}

header {
	background-color: black;
	min-height: 1.5em;
	font-family: "Press Start 2P", sans-serif;
	padding: 1.5em;
	margin-bottom: 1em;
	opacity: 50%;	
	z-index: 1;
}

a:hover {
	color: #87ABB3;
}

#logo {
	float: left;
	color: white;
	font-size: 1.5em;
}

#logo a {
	text-decoration: none;
	color: white;
} 

#logo a:hover {
	color: #87ABB3;
}

ul {
	
	right: -20em;
	list-style-type: none;
}

li a {
	text-decoration: none;
	float: right;
	color: white;
	padding: 0 2em;
}

#title-screen, #game-over-text {
	font-family: "Press Start 2P", cursive; sans-serif;
	color: white;
	line-height: 300%;
	margin: 10% 20%;
	max-width: 40%;
	text-align: center;
}

#title-screen:hover, .continue-text:hover {
	color: #87ABB3;
}

#title-screen h1, #game-over-text {
	font-size: 2.5em;
}

#title-screen h3 {
	font-size: 1.2em;
}

.content-screen {
	font-family: "Press Start 2P", cursive; sans-serif;
	color: white;
	line-height: 300%;
	text-align: left;
	margin: 0 5%;
}

.content-screen img {
	float: left;
	max-width: 50%;
	right-margin: 2em;
}

.text-box, #off-you-go-text, #continue-text-three {
	position: relative;
	left: 2em;
	top: 0.5em;
}

#lancelot-screen, #robin-screen, #galahad-screen, #arthur-screen, #intro-screen, #continue-text, #stop-screen, #name-screen, #lancelot-third-screen, #robin-third-screen, #galahad-third-screen, #arthur-third-screen, #death-screen, #game-over-screen, #off-you-go-screen, #win-screen {
	display: none;
}

#name-choices li:hover, .quest-choices li:hover, .third-choices li:hover, #continue-text-four:hover {
	color: #87ABB3;	
}

#name-timer, #lancelot-timer, #lancelot-third-timer, #robin-timer, #robin-third-timer, #galahad-timer, #galahad-third-timer, #arthur-timer, #arthur-third-timer {
	display: none;
	position: relative;
	left: 4em;
	top: 0.5em;
	font-size: 2em;
	color: white;
	font-family: "Press Start 2P", cursive; sans-serif;
}

#yaaa, #last-words-b {
	font-size: 2.5em;
}

#intermission {
	display: none;
	background: #ff69b4;
	color: yellow;
	position: absolute;
	width: 100%;
	height: 8em;
	font-family: "Press Start 2P", cursive; sans-serif;
	font-size: 2em;
	text-align: center;
	padding: 2em;
}