body {
	background-color: black;
	max-height: 400px;
}

header {
	min-height: 1.5em;
	font-family: "Press Start 2P", sans-serif;
	padding: 1.5em;
	opacity: 50%;	
	z-index: 1;
}

a:hover {
	color: #87ABB3;
}

#logo {
	float: left;
	color: white;
	font-size: 1.5em;
}

#logo a {
	text-decoration: none;
	color: white;
} 

#logo a:hover {
	color: #87ABB3;
}

ul {
	
	right: -20em;
	list-style-type: none;
}

li a {
	text-decoration: none;
	float: right;
	color: white;
	padding: 0 2em;
}

#title-screen, #game-over-text {
	font-family: "Press Start 2P", cursive; sans-serif;
	color: white;
	line-height: 300%;
	margin: 10% 20%;
	max-width: 40%;
	text-align: center;
}

#title-screen:hover {
	color: #87ABB3;
}

#title-screen h1, #game-over-text {
	font-size: 2.5em;
}

#title-screen h3 {
	font-size: 1.2em;
}

#intro-screen {
	display: none;
}

.content-screen {
	font-family: "Press Start 2P", cursive; sans-serif;
	color: white;
	line-height: 300%;
	text-align: left;
	margin: 0 5%;
}

.content-screen img {
	float: left;
	max-width: 50%;
	right-margin: 2em;
}

.text-box {
	position: relative;
	left: 2em;
	top: 0.5em;
}

#continue-text {
	display: none;
}

.continue-text:hover {
	color: #87ABB3;
}

#stop-screen {
	display: none;
}

#name-screen {
	display: none;
}

#lancelot-screen, #robin-screen, #galahad-screen, #arthur-screen {
	display: none;
}

#name-choices li:hover, .quest-choices li:hover {
	color: #87ABB3;	
}

#robin-screen {
	display: none;
}

#name-timer, #lancelot-timer, #robin-timer, #galahad-timer, #arthur-timer {
	display: none;
	position: relative;
	left: 4em;
	top: 0.5em;
	font-size: 2em;
	color: white;
	font-family: "Press Start 2P", cursive; sans-serif;
}

#death-screen {
	display: none;
}

#yaaa {
	font-size: 2.5em;
}

#game-over-screen {
	display: none;
}